@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

/* Global Styles */
:root {
          --Light-red: hsl(356, 100%, 66%);
          --Very-light-red: hsl(355, 100%, 74%);
          --Very-dark-blue: hsl(208, 49%, 24%);
          --primary-color: hsl(0, 0%, 100%);
          --Grayish-blue: hsl(240, 2%, 79%);
          --Very-dark-grayish-blue: hsl(207, 13%, 34%);
          --Very-dark-black-blue: hsl(240, 10%, 16%);
          --Very-light-red: hsla(13, 100%, 72%, 0.932);
          --Light-red: hsla(353, 100%, 62%, 0.932);
          --Very-dark-gray-blue: hsl(237, 17%, 21%);
          --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
          --overpass-font: "Overpass", sans-serif;
          --ubuntu-font: "Ubuntu", sans-serif;
}

* {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

html,
body {
          height: 100%;
          line-height: 1.7;
          font-size: 16px;
}

nav {
          margin: 0 50px;
          font-family: var(--ubuntu-font);
          font-size: 15px;
          /* position: relative; */
          z-index: 1001;
}

/* Header Section*/
#page-header {
          height: 70vh;
          width: 100%;
          background: url(./images/bg-pattern-intro.svg) no-repeat center;
          border-bottom-left-radius: 60px;
          position: relative;
}

#image-overlay {
          position: absolute;
          background: linear-gradient(
                    to right,
                    var(--Very-light-red),
                    var(--Light-red)
          );
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-bottom-left-radius: 60px;
}

#navbarDropdown {
          color: var(--primary-color);
          padding: 0 25px;
}

.dropdown-menu {
          border-radius: 5px;
          margin: 20px;
}

.dropdown-menu a {
          font-size: 14px;
          font-family: var(--ubuntu-font);
          padding: 10px 15px;
}

#navbarDropdown:hover,
.dropdown-menu a:hover,
nav form .btn:hover,
#header-info form .btn:hover {
          transform: scale(0.96);
}
nav form .btn,
#header-info .btn {
          min-width: 100px;
          padding: 6px 25px;
          color: var(--primary-color);
          font-size: 14px;
          font-weight: bold;
}

nav form .btn {
          margin: 0 5px;
}

nav form .btn-2,
#header-info .btn-3 {
          background-color: var(--primary-color);
          color: var(--Light-red);
          border-radius: 25px;
}

/*This section holds introductory information about Blogr*/

#header-info {
          text-align: center;
          margin: 0 auto;
          margin-top: -20%;
          width: 100%;
          z-index: 999;
          position: absolute;
}

#header-info h1 {
          font-family: var(--overpass-font);
          font-weight: 600;
          font-size: 50px;
          color: var(--primary-color);
}

#header-info p {
          font-family: var(--overpass-font);
          font-size: 15px;
          font-weight: 300;
          color: var(--primary-color);
          margin-bottom: 10px;
}

#header-info form {
          display: flex;
          justify-content: center;
          align-items: center;
}
#header-info form .btn {
          margin: 0 15px;
}

#header-info form .btn:hover {
          color: var(--Very-dark-black-blue);
}

#header-info .btn-3,
#header-info .btn-4 {
          padding: 8px 10px;
}

#header-info .btn-4 {
          border-radius: 25px;
          border: 1px solid rgba(255, 255, 255, 0.364);
}

/* Second Section of the page */

#design-section,
#laptop-section {
          margin-top: 10%;
}

#design-section h2 {
          text-align: center;
          font-family: var(--overpass-font);
          color: var(--Very-dark-blue);
          font-weight: 700;
          font-size: 2.5rem;
}

article {
          margin-left: 90px;
          float: left;
          width: 40%;
          margin-top: 100px;
          font-family: var(--overpass-font);
}

article h3,
#laptop-section h3 {
          font-size: 20px;
          color: var(--Very-dark-blue);
          font-weight: 700;
          margin-bottom: 25px;
}

article p,
#laptop-section p {
          font-size: 15px;
          color: var(--Very-dark-grayish-blue);
          font-weight: 400;
          line-height: 1.8;
          margin-bottom: 20px;
}

#design-section aside {
          float: right;
          width: 50%;
          margin-top: -6%;
          overflow-x: hidden;
}

#design-section aside img {
          width: 700px;
          margin-left: 100px;
          overflow: hidden;
}

/* Art Section Styling*/

#art-section {
          margin-top: 50%;
          background: linear-gradient(
                    to right,
                    var(--Very-dark-gray-blue),
                    var(--Very-dark-desaturated-blue)
          );
          height: 350px;
          padding-left: 75px;
          padding-right: 90px;
          border-bottom-left-radius: 70px;
          border-top-right-radius: 70px;
}

#art-section > div {
          float: left;
          width: 40%;
}

#art-section img {
          width: 500px;
          margin-top: -65px;
}

#art-section aside {
          float: right;
          width: 50%;
          color: var(--primary-color);
          margin-top: 9%;
}

#art-section aside h2 {
          font-size: 36px;
}
#art-section aside p {
          font-size: 15px;
          margin-top: 20px;
}

/* Laptop styling section*/

#laptop-section {
          height: 750px;
}

#laptop-section > div {
          float: left;
          width: 40%;
}

#laptop-section img {
          width: 800px;
          margin-left: -210px;
          overflow: hidden;
}

#laptop-section aside {
          float: right;
          width: 40%;
          margin-top: 10%;
          margin-right: 10%;
}

/* Final Section Styling*/

#final-section {
          background: var(--Very-dark-black-blue);
          margin-top: 40px;
          color: var(--Grayish-blue);
          font-family: var(--overpass-font);
          padding-top: 25px;
}

#final-section nav {
          display: flex;
}

.final-section-tag {
          width: 25%;
          margin: 10px 90px;
}

.final-section-paragraph {
          font-size: 1rem;
          padding-top: 10px;
}

.final-section-tag ul {
          margin-top: 20px;
          list-style: none;
}

.final-section-tag ul li {
          margin-bottom: 20px;
          font-size: 0.8rem;
}

.final-section-tag ul li a {
          color: var(--Grayish-blue);
          text-decoration: none;
}

.final-section-tag ul li a:hover,
.attribution a:hover {
          color: var(--Light-red);
          transition: all 300ms ease-in;
}

.attribution {
          font-size: 0.6rem;
          text-align: center;
          letter-spacing: 3px;
          margin-top: 30px;
}

.attribution a {
          text-decoration: none;
          color: var(--Grayish-blue);
}
